<article class="mx-auto px-4 sm:px-8 lg:px-0 lg:w-min lg:-mt-48 flex flex-col items-center"> 
  <div class="lg:bg-neutral-50/80 lg:backdrop-blur-lg lg:shadow-xl pb-16 mb-8 lg:px-16 rounded-xl">
    <div class="w-full max-w-prose lg:w-max ">
      <span class="pt-16 font-semibold flex flex-wrap lg:min-w-prose">
        {{ $combined := slice .Section | append .Keywords }}
        {{ range $index, $item := $combined }}
          <p class="{{ if eq $index 0 }}text-neutral-700{{ else }}text-neutral-500{{ end }}">
            {{ if ne $index 0}}&nbsp;‧&nbsp;{{ end }}{{ $item | upper }}
          </p>
        {{ end }}
      </span>
      <h1 class="pt-2 text-3xl lg:text-5xl font-bold font-display text-neutral-900 tracking-tight text-pretty">{{ .Title }}</h1>
      <p class="pt-4 text-lg text-neutral-800 text-pretty">{{ .Summary }}</p>
      <div class="pt-8 flex items-center text-neutral-600">
        <img src="{{ .Site.Params.Picture }}" alt="{{ .Site.Params.Author }}" class="w-12 h-12 rounded-full inline-block mr-4 shadow-inner">
        <span>
          By <strong>{{ .Site.Params.Author }}</strong> ‧ {{ .PublishDate.Format "January 2, 2006" }}
        </span>
      </div>
      <div class="pt-12 markdown first-letter:text-5xl first-letter:font-bold first-letter:mr-2 first-letter:mt-1.5 first-letter:leading-[80%] first-letter:float-left">
        {{ .Content}}
      </div>
    </div>
  </div>
</article>