{{ $markdowns := dict
  "content" "markdown-content"
  "career" "markdown-career"
  "portfolio" "markdown-portfolio"
  "thoughts" "markdown-thoughts"
}}
{{ $primaryTags := dict
  "content" "text-content-700"
  "career" "text-career-700"
  "portfolio" "text-portfolio-700"
  "thoughts" "text-thoughts-700"
}}
{{ $secondaryTags := dict
  "content" "text-content-500"
  "career" "text-career-500"
  "portfolio" "text-portfolio-500"
  "thoughts" "text-thoughts-500"
}}
{{ $markdown := index $markdowns .Section }}
{{ $primaryTag := index $primaryTags .Section }}
{{ $secondaryTag := index $secondaryTags .Section }}

<article class="{{ $markdown }} mx-auto sm:px-pad-x lg:px-0 lg:w-min -mt-24 lg:-mt-36 xl:-mt-48 flex flex-col items-center  scroll-smooth"> 
  <div class="bg-neutral-100/80 backdrop-blur-lg shadow-xl mb-8 px-4 py-8 sm:p-8 md:p-12 lg:p-16 rounded-xl">
    <div class="w-full max-w-prose lg:w-max">
      <span class="font-semibold flex flex-wrap lg:min-w-prose">
        {{ $combined := slice .Section | append .Keywords }}
        <p class="text-sm sm:text-base text-pretty">
          {{ range $index, $item := $combined }}
            {{ if eq $index 0 }}
              <span class="{{ $primaryTag}}">{{ . | upper }}</span>
            {{ else }}
              <span class="{{ $secondaryTag}}"> ‧ {{ . | upper }}</span>
            {{ end }}
          {{ end }}
        </p>
      </span>
      <h1 class="py-2 text-3xl lg:text-5xl font-bold font-display tracking-tight text-pretty">{{ .Title }}</h1>
      <em class="text-sm text-neutral-600">{{ if .Params.startDate }}{{ .Params.startDate | time.Format "January 2006"}} ‧ {{ end }}{{ .Date | time.Format "January 2006"}}</em>
      <p class="pt-8 text-lg text-pretty">{{ .Summary }}</p>
      <div class="pt-8 flex items-center text-neutral-600">
        <img src="{{ .Site.Params.PictureSmall }}" alt="{{ .Site.Params.Author }}" class="w-12 h-12 rounded-full inline-block mr-4 shadow-inner">
        <span>
          By <strong>{{ .Site.Params.Author }}</strong> ‧ {{ .PublishDate.Format "January 2, 2006" }}
        </span>
      </div>
      <div class="markdown pt-12 first-letter:text-5xl first-letter:font-bold first-letter:mr-2 first-letter:mt-1.5 first-letter:leading-[80%] first-letter:float-left">
        {{ .Content}}
        {{ if .Params.bannerAbout }}
          <blockquote id="about-the-banner" class="text-pretty">
            <strong>About the image:</strong><br>
            {{ .Params.bannerAbout | markdownify }}
          </blockquote>
        {{ end }}
      </div>
    </div>
  </div>
</article>