@import "tailwindcss";

@theme {
  --default-font-family: 'AtkinsonHyperlegible', sans-serif;
  --font-display: 'Geologica', sans-serif;

  --color-portfolio-50: #efe2e6;
  --color-portfolio-100: #e7d4da;
  --color-portfolio-200: #d6b7c2;
  --color-portfolio-300: #c59cab;
  --color-portfolio-400: #b48194;
  --color-portfolio-500: #a2667e;
  --color-portfolio-600: #7b4c5f;
  --color-portfolio-700: #563442;
  --color-portfolio-800: #341d26;
  --color-portfolio-900: #15090e;
  --color-portfolio-950: #070304;

  --color-career-50: #d9e8eb;
  --color-career-100: #c6dce1;
  --color-career-200: #a0c6ce;
  --color-career-300: #7aafbb;
  --color-career-400: #5199a8;
  --color-career-500: #1a8395;
  --color-career-600: #116371;
  --color-career-700: #09444f;
  --color-career-800: #03282f;
  --color-career-900: #010f12;
  --color-career-950: #000406;

  --color-thoughts-50: #ece3dc;
  --color-thoughts-100: #e2d5cb;
  --color-thoughts-200: #cfbaaa;
  --color-thoughts-300: #bba089;
  --color-thoughts-400: #a8856a;
  --color-thoughts-500: #956c4a;
  --color-thoughts-600: #715136;
  --color-thoughts-700: #4f3724;
  --color-thoughts-800: #2f2013;
  --color-thoughts-900: #120a05;
  --color-thoughts-950: #060301;
  
  --color-content-50: #e0e7df;
  --color-content-100: #d1dbcf;
  --color-content-200: #b3c4af;
  --color-content-300: #96ad91;
  --color-content-400: #7a9673;
  --color-content-500: #5e8056;
  --color-content-600: #466040;
  --color-content-700: #2f432b;
  --color-content-800: #1a2717;
  --color-content-900: #070e06;
  --color-content-950: #020402;


  --spacing-pad-x: calc(var(--spacing) * 4);
}

:root {
  scroll-behavior: smooth;

  @media (min-width: 640px) {
    --spacing-pad-x: calc(var(--spacing) * 8);
  }  

  @media (min-width: 768px) {
    --spacing-pad-x: calc(var(--spacing) * 16);
  }  

  @media (min-width: 1024px) {
    --spacing-pad-x: calc(var(--spacing) * 8);
  }  
}  

@layer base {
}

@import "components/fonts.css";
@import "components/markdown.css";

