@utility markdown {

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply tracking-tight;
  }

  h1 {
    @apply text-3xl font-bold mt-6;
  }

  h2 {
    @apply text-2xl font-bold mt-6;
  }

  h3 {
    @apply text-xl font-bold mt-4;
  }

  h4 {
    @apply text-lg font-bold mt-4;
  }

  h5 {
    @apply text-base font-bold mt-2;
  }

  h6 {
    @apply text-sm font-bold mt-2;
  }

  p + h2,
  p + h3,
  ul + h2,
  ul + h3,
  ol + h2,
  ol + h3 {
    @apply mt-6;
  }

  h2 + h3 {
    @apply mt-2;
  }

  p {
    @apply mt-2 leading-relaxed;
  }

  a {
    @apply text-blue-600 underline decoration-2;
  }

  sup > a {
    @apply decoration-1;
  }

  a:hover {
    @apply text-blue-800;
  }

  h2::before,
  h3::before,
  h4::before,
  h5::before,
  #about-the-image:before {
    display: block;
    content:" ";
    margin-top: calc(var(--spacing) * -32);
    height: calc(var(--spacing) * 32); 
    visibility: hidden;
  }

  ul {
    @apply list-disc pl-4 mt-2;
  }

  ol {
    @apply list-decimal pl-4 mt-2;
  }
  
  ul ul,
  ol ol,
  ul ol,
  ol ul,
  ul ul li,
  ol ol li,
  ul ol li,
  ol ul li {
    margin: 0 !important;
  }

  li:not(:last-child) {
    @apply mb-2;
  }

  blockquote {
    @apply border-l-2 border-gray-200 pl-3 mt-6 mb-8;
  }

  .highlight {
    @apply my-2;
    pre {
      @apply text-sm m-0 p-4;

      code {
        @apply bg-none p-0;
      }
    }
  }

  pre:has(code) {
    @apply p-2 m-4 bg-gray-100 rounded-lg overflow-x-auto;
  }

  pre {
    code {
      @apply bg-inherit text-sm font-mono;
    }
  }

  code {
    @apply px-1 rounded-md bg-gray-100;
  }

  hr {
    @apply border-t-2 border-gray-200 my-6;
  }

  .footnotes {
    @apply text-neutral-700;
  }

  .footnotes ol {
    @apply before:content-['NOTES'] text-sm marker:text-neutral-500;
  }

  figure {
    @apply my-8;
  }

  figure > img, figure > video, figure > a > img {
    @apply max-h-full object-contain w-auto rounded-lg;
  }

  figcaption {
    @apply text-center text-neutral-500 text-sm mt-4;
  }
}

@utility markdown-portfolio {
  @apply text-portfolio-800;

  ul {
    @apply marker:text-portfolio-500;
  }

  a {
    @apply text-portfolio-600;
  }

  a:hover {
    @apply text-portfolio-800;
  }
  
  hr {
    @apply border-2 border-portfolio-200 my-6;
  }

  code {
    @apply bg-portfolio-200 text-portfolio-800;
  }

  blockquote {
    @apply border-portfolio-200;
  }
}

@utility markdown-career {
  @apply text-career-800;

  ul {
    @apply marker:text-career-500;
  }

  a {
    @apply text-career-600;
  }

  a:hover {
    @apply text-career-800;
  }
  
  hr {
    @apply border-2 border-career-200 my-6;
  }

  code {
    @apply bg-career-200 text-career-800;
  }

  blockquote {
    @apply border-career-200;
  }
}

@utility markdown-thoughts {
  @apply text-thoughts-800;

  ul {
    @apply marker:text-thoughts-500;
  }

  a {
    @apply text-thoughts-600;
  }

  a:hover {
    @apply text-thoughts-800;
  }
  
  hr {
    @apply border-2 border-thoughts-200 my-6;
  }

  code {
    @apply bg-thoughts-200 text-thoughts-800;
  }

  blockquote {
    @apply border-thoughts-200;
  }
}

@utility markdown-content {
  @apply text-content-800;

  ul {
    @apply marker:text-content-500;
  }

  a {
    @apply text-content-600;
  }

  a:hover {
    @apply text-content-800;
  }
  
  hr {
    @apply border-2 border-content-200 my-6;
  }

  code {
    @apply bg-content-200 text-content-800;
  }

  blockquote {
    @apply border-content-200;
  }
}