<nav class="fixed z-100 mx-auto px-pad-x inset-x-0 top-8">
  <ol class="h-16 max-w-7xl mx-auto px-4 sm:px-8 flex justify-between items-center bg-neutral-50/80 hover:bg-neutral-50/90 transition-all duration-500 ease-in-out backdrop-blur-xs rounded-xl shadow-lg text-xl font-display">
    <li class="flex-none h-8 w-fit">
      <a href="/">{{ partial "components/logo.html" . }}</a>
    </li>
    {{/*  Create empty space between Home and the other items */}}
    <li class="shrink w-88"></li>
    {{ range .Site.Menus.main.ByWeight }}
      {{ partial "nav/destination.html" . }}
    {{ end }}
    <li>
      <button class="md:hidden text-neutral-600 group inline-flex w-12 h-12 text-center items-center justify-center peer" aria-pressed="false" type="button" onclick="this.setAttribute('aria-pressed', !(this.getAttribute('aria-pressed') === 'true'))">
        <span class="sr-only">Menu</span>
        <svg class="w-6 h-6 fill-current pointer-events-none" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
          <rect class="origin-center -translate-y-[5px] translate-x-[7px] transition-all duration-300 ease-[cubic-bezier(.5,.85,.25,1.1)] group-aria-pressed:translate-x-0 group-aria-pressed:translate-y-0 group-aria-pressed:rotate-[315deg]" y="7" width="9" height="2" rx="1"></rect>
          <rect class="origin-center transition-all duration-300 ease-[cubic-bezier(.5,.85,.25,1.8)] group-aria-pressed:rotate-45" y="7" width="16" height="2" rx="1"></rect>
          <rect class="origin-center translate-y-[5px] transition-all duration-300 ease-[cubic-bezier(.5,.85,.25,1.1)] group-aria-pressed:translate-y-0 group-aria-pressed:rotate-[135deg]" y="7" width="9" height="2" rx="1"></rect>
        </svg>
      </button>
      <div id="side-menu" class="md:hidden -z-50 fixed -top-8 -left-pad-x shadow-lg transform transition-all duration-300 ease-in-out peer-aria-pressed:opacity-100 peer-aria-pressed:translate-x-0 opacity-0 translate-x-full peer-aria-pressed:**:[&_a]:opacity-100 peer-aria-pressed:**:[&_a]:translate-y-0">
        <div class="-z-50 static h-screen w-screen bg-neutral-50 flex flex-col items-center justify-center ">
          {{ range .Site.Menus.main.ByWeight }}
          <a href="{{ .URL }}" class="flex flex-col items-center p-4 text-neutral-600 opacity-0 translate-y-8 transition-all duration-500 gap-1">
            <span class="text-3xl">{{ .Title }}</span>
            <p class="text-base text-neutral-500 text-center text-pretty">
              {{ .Page.Summary }}
            </p>
          </a>
          {{ end }}
        </div>
      </div>
      
      <style>
        #side-menu div a:nth-child(1) {
          transition-delay: 300ms;
        }
        #side-menu div a:nth-child(2) {
          
          transition-delay: 400ms;
        }
        #side-menu div a:nth-child(3) {
          
          transition-delay: 500ms;
        }
        #side-menu div a:nth-child(4) {
          
          transition-delay: 600ms;
        }
      </style>
    </li>
  </ol>
</nav>
